

<!-- <div class="row">

<div class="col-md-1"></div>
<div class="col-md-10"> -->


<!-- <div class="row"> -->
<!-- <div class="col-md-3 col-sm-3 col-xs-3"  > -->
<!-- 	<div class="list-group">
	  <a href="/" class="list-group-item" >Home</a>
	  <a href="/html/settings.html" class="list-group-item" >Settings</a>
	  <a href="/html/notifications.html" class="list-group-item" >Send Notifications</a>
	  <a href="/html/install.html" class="list-group-item" >Install App</a>
	  <a href="/logout" class="list-group-item" >Log out</a>
	</div> -->
<div class="main-sidebar">
  <!-- Inner sidebar -->
  <div class="sidebar">




    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <br>
      <!-- Optionally, you can add icons to the links -->
      <li><a href="/" class="active" ><i class="fa fa-home"></i>Home</a></li>
	  <li><a href="/html/settings.html"  ><i class="fa fa-edit"></i>Settings</a></li>
	  <li><a href="/html/notifications.html"  ><i class="fa fa-share"></i>Send Notifications</a></li>
	  <li><a href="/html/install.html"  ><i class="fa fa-laptop"></i>Install App</a></li>
	  <li><a href="/logout" ><i class="fa fa-sign-out "></i>Log out</a></li>

	  
      <!-- <li><a href="#"><span>Another Link</span></a></li>
      <li class="treeview">
        <a href="#"><span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Link in level 2</a></li>
          <li><a href="#">Link in level 2</a></li>
        </ul>
      </li> -->
    </ul><!-- /.sidebar-menu -->

  </div><!-- /.sidebar -->
</div>

<!-- </div> -->

