  <% include partials/header_panel %>
<!-- <script type="text/javascript" src="/bower_components/angular-dynforms/dynamic-forms.js"></script> -->
<!-- <script type="text/javascript" src="bower_components/angular/angular.min.js"></script> -->
<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/bower_components/tv4/tv4.js"></script>
<script type="text/javascript" src="/bower_components/objectpath/lib/ObjectPath.js"></script>
<script type="text/javascript" src="/bower_components/angular-schema-form/dist/schema-form.js"></script>
<script type="text/javascript" src="/bower_components/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
<style>
.textarea-notifier{
  /*height:400px;*/
  /*width:600px;*/
  height: 400px;
   height:200px; 
  min-height:200px;  
  max-height:200px;
  display:block;

}

.textarea-notifier-container{
  height:230px;
}

</style>
<script>
var app = angular.module('root', ['schemaForm']);
app.controller("index",function ($scope, $http) {
$scope.message = "";

$scope.loader = true;

$scope.success = false;

$scope.error = false;

$scope.count = "";

$scope.formData = {}; 


$scope.schema = {};


$scope.form = [
"*",
{
type: "submit",
title: "Save"
}
];

$scope.model = {};

var responsePromise = $http.get("/api/tweet");
responsePromise.success(function(data, status, headers, config) {
    $scope.schema = data.schema;
    $scope.model = data.model;
    $scope.message = "";
    $scope.form = data.form;
    $scope.loader = false;

    console.log($scope.model);
});
responsePromise.error(function(data, status, headers, config) {
    alert("AJAX failed!");
});

$scope.restoreStuff=function(){
  $scope.model.widget_client_html = $scope.model.widget_client_default;
}

$scope.sayPositivesentiment = function(){
     $http.post('/api/sentiment/positive', {data:$scope.model}).
      success(function(data, status, headers, config) {
        // this callback will be called asynchronously
        // when the response is available
        // alert('Yeaaah!'+data);
        $scope.loader = false;
        $scope.message = "Success: Sentiment Saved succesfully. ";
        $scope.success = true;
        $scope.count = data;

        var responsePromise = $http.get("/api/tweet");
        responsePromise.success(function(data, status, headers, config) {
            $scope.schema = data.schema;
            $scope.model = data.model;
            $scope.message = "";
            $scope.form = data.form;
            $scope.loader = false;
            $scope.success=false;


        });
        responsePromise.error(function(data, status, headers, config) {
            alert("AJAX failed!");
        });
      }).
      error(function(data, status, headers, config) {
        // called asynchronously if an error occurs
        // or server returns response with an error status.
        $scope.loader = false;
        $scope.message = "Error: Unable to save the Sentiment. ";
        $scope.error = true;
      });

}

$scope.sayNegativesentiment = function(){
    $http.post('/api/sentiment/negative', {data:$scope.model}).
      success(function(data, status, headers, config) {
        // this callback will be called asynchronously
        // when the response is available
        // alert('Yeaaah!'+data);
        $scope.loader = false;
        $scope.message = "Success: Sentiment Saved succesfully. ";
        $scope.success = true;

        $scope.count = data;

        var responsePromise = $http.get("/api/tweet");
        responsePromise.success(function(data, status, headers, config) {
            $scope.schema = data.schema;
            $scope.model = data.model;
            $scope.message = "";
            $scope.form = data.form;
            $scope.loader = false;
            $scope.success=false;

        });
        responsePromise.error(function(data, status, headers, config) {
            alert("AJAX failed!");
        });
      }).
      error(function(data, status, headers, config) {
        // called asynchronously if an error occurs
        // or server returns response with an error status.
        $scope.loader = false;
        $scope.message = "Error: Unable to save the Sentiment. ";
        $scope.error = true;
      });
  
}

$scope.sayNeutralsentiment = function(){
       $http.post('/api/sentiment/neutral', {data:$scope.model}).
      success(function(data, status, headers, config) {
        // this callback will be called asynchronously
        // when the response is available
        // alert('Yeaaah!'+data);
        $scope.loader = false;
        $scope.message = "Success: Sentiment Saved succesfully. ";
        $scope.success = true;

        $scope.count = data;

        var responsePromise = $http.get("/api/tweet");
        responsePromise.success(function(data, status, headers, config) {
            $scope.schema = data.schema;
            $scope.model = data.model;
            $scope.message = "";
            $scope.form = data.form;
            $scope.loader = false;
            $scope.success=false;

        });
        responsePromise.error(function(data, status, headers, config) {
            alert("AJAX failed!");
        });
      }).
      error(function(data, status, headers, config) {
        // called asynchronously if an error occurs
        // or server returns response with an error status.
        $scope.loader = false;
        $scope.message = "Error: Unable to save the Sentiment. ";
        $scope.error = true;
      });
  
}

$scope.sayNo = function(){
     $http.post('/api/tweet', {data:$scope.model}).
      success(function(data, status, headers, config) {
        // this callback will be called asynchronously
        // when the response is available
        // alert('Yeaaah!'+data);
        $scope.loader = false;
        $scope.count = data;
        $scope.message = "Success: Form Saved succesfully. ";
        $scope.success = true;
        var responsePromise = $http.get("/api/tweet");
        responsePromise.success(function(data, status, headers, config) {
            $scope.schema = data.schema;
            $scope.model = data.model;
            $scope.message = "";
            $scope.form = data.form;
            $scope.loader = false;
            $scope.success=false;
        });
        responsePromise.error(function(data, status, headers, config) {
            alert("AJAX failed!");
        });
      }).
      error(function(data, status, headers, config) {
        // called asynchronously if an error occurs
        // or server returns response with an error status.
        $scope.loader = false;
        $scope.message = "Error: Unable to save the form. ";
        $scope.error = true;
      });
}
$scope.sayYes = function(){
   $http.post('/api/tweet_spam', {data:$scope.model}).
      success(function(data, status, headers, config) {
        // this callback will be called asynchronously
        // when the response is available
        // alert('Yeaaah!'+data);
        $scope.loader = false;
        $scope.count = data;
        $scope.message = "Success: Form Saved succesfully. ";
        $scope.success = true;

        var responsePromise = $http.get("/api/tweet");
        responsePromise.success(function(data, status, headers, config) {
            $scope.schema = data.schema;
            $scope.model = data.model;
            $scope.message = "";
            $scope.form = data.form;
            $scope.loader = false;
            $scope.success=false;

        });
        responsePromise.error(function(data, status, headers, config) {
            alert("AJAX failed!");
        });
      }).
      error(function(data, status, headers, config) {
        // called asynchronously if an error occurs
        // or server returns response with an error status.
        $scope.loader = false;
        $scope.message = "Error: Unable to save the form. ";
        $scope.error = true;
      });
}
$scope.onSubmit = function(form) {
    // console.log(form);
    // alert($scope.model.webhook_identifier)
    $scope.message = "Saving...";
    $scope.loader = true;
    $scope.success = false;
    $scope.error = false;
    $http.post('/api/settings', {data:$scope.model}).
      success(function(data, status, headers, config) {
        // this callback will be called asynchronously
        // when the response is available
        // alert('Yeaaah!'+data);
        $scope.loader = false;
        $scope.message = "Success: Form Saved succesfully. ";
        $scope.success = true;
      }).
      error(function(data, status, headers, config) {
        // called asynchronously if an error occurs
        // or server returns response with an error status.
        $scope.loader = false;
        $scope.message = "Error: Unable to save the form. ";
        $scope.error = true;
      });
    
}


});

  </script>
<center><h1>Help us improve our artificially intelligent spam detector</h1></center>
<br>

          <div class="" ng-app="root">
            <!-- <p ng-controller="index"> -->
            <div ng-controller="index">
  <!-- Main content -->
  
      <div class="box-body">

              <center><form sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(myForm)"></form></center>
              <!-- <form sf-schema="schema" sf-form="form" sf-model="model"></form> -->
              <center><img ng-show="loader" class="ng-hide" src='/images/ajax-loader.gif'/></center>
              <br>
              <div class="alert alert-success" ng-show="success" class="ng-hide" role="alert">{{message}}</div>
              <div class="alert alert-danger" ng-show="error" class="ng-hide" role="alert">{{message}}</div>
              <center>
               {{count}}
              </center>
            
      </div><!-- /.box-body -->

      </div>

      </div>

     
 




