<% include partials/header %>


<br>
<br>
<br>
<style type="text/css">
	.form-control-inline {
	    min-width: 0;
	    width: auto;
	    display: inline;
	}
</style>
<div id="cwrap">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
		<center>
		  	<h3>Enter your Store name here</h3>
			<form action="/home" method="get">
				<div class="form-group ">
			    	<input type="text"  class="form-control form-control-inline  input-lg" value="developmentstore-3" name="store">
			    </div>
			    
			    	<input type="submit" class="btn btn-theme input-lg" value="Connect">
			</form>
		</center>
</div>


<% include partials/footer %>
  

