
<!DOCTYPE html><html class=''>
<head><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="canonical" href="http://codepen.io/timseverien/pen/Fkfhi?editors=100" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:700" />
<style class="cp-pen-styles">
.check {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  -webkit-transition: stroke-dashoffset 4.1s linear 0s;
  transition: stroke-dashoffset 500ms ease-in-out;
}
h1{
   font-family: 'Lato', sans-serif;
}
</style>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
$(document).ready(function () {
  $('.check').css('stroke-dashoffset', 0);
});
</script>
</head><body>
<center><h1><%= store_name %></h1></center>
<div class="wrapper">
<br>
<center><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90.594px" height="59.714px" viewBox="0 0 90.594 59.714" enable-background="new 0 0 90.594 59.714" xml:space="preserve">
  <polyline class="check" fill="none" stroke="#006837" stroke-width="5" stroke-miterlimit="10" points="1.768,23.532 34.415,56.179 88.826,1.768"/>
</svg></polyline><br><h2 style="font-family: 'Lato', sans-serif;">Done</h2><br><h3 style="font-family: 'Lato', sans-serif;">You'll now receive an instant notification* on your phone/laptop when this product is added to our Store.</h3><br><p style="font-family: 'Lato', sans-serif;">*You must install the <a href="https://www.pushbullet.com/">Pushbullet</a> app on your devices to receive notifications.</p></center>
</div>

</body></html>