  <% include partials/header %>
  <div class="row">
	  <% include partials/nav %>

	  <div class="col-md-7">
	  	  <br>
	  	  <h5>Account Connected</h5><hr>
	  	  <p>
	  	  Email :   <%= body.email %><br>
	  	  </p>
	  	  <hr>
	  	  <p>Make sure to Create a Pushbullet channel for your shop, so that visitors can receive new product/marketing notifications. You can do that by <a href='https://www.pushbullet.com/my-channel'>clicking here</a></p>
	  </div>
  </div>
  <h2>You can close this page now.</h2>
  <% include partials/footer %>